*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

table {
  border: inherit;
  border-collapse: collapse;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

/* ============================================

Table CSS

============================================ */
body {
  padding: 3rem 1rem;
}

/* Table */
.table {
  max-width: 650px;
  margin: 0 auto;
}

.table th,
.table td {
  padding: 1rem;
  border-right: 1px solid #fff;
  vertical-align: middle;
}

.table th:last-child,
.table td:last-child {
  border-right: 0;
}
/* thead 横一列背景色 */
.table thead tr {
  background-color: #4a69b8;
  color: #b0c4de;
}

.table thead tr {
  text-align: center;
}

.table tobody tr {
  border-bottom: 1px solid #fff;
  background-color: #f1f3f8;
}

.table tbody tr:last-child {
  border: none;
}

.table tbody th {
  width: 25%;
}

.table tbody .price {
  width: 25%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .table {
    max-width: 420px;
    width: 100%;
  }

  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 1rem;
  }

  .table tbody th {
    background-color: #fff;
    color: #b0c4de;
    display: block;
    border-right: none;
    text-align: center;
  }

  .table tbody td {
    border-bottom: 1px solid #fff;
    display: block;
    text-align: right;
    position: relative;
    border-right: none;
  }

  .table tbody td::before {
    font-size: 0.8rem;
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 1rem;
  }

  .table td:last-child {
    border-bottom: 0;
  }

  .table tbody th,
  .table tobody .price {
    width: 100%;
  }

  .table .text {
    font-size: 0.7rem;
  }
}
/*============================================


Balloon


============================================*/
.balloon {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  /* margin: 10rem auto; 中央寄せ指定削除 */
  margin-top: 10rem;
  /* 上の余白追加 */
  margin-left: 2rem;
  /* 左の余白追加 */
  background: linear-gradient(to bottom left, #10c2f2, #5a69aa);
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: auto;
  animation: 2.5s up-down infinite;
}

.balloon::before {
  content: "";
  background: #4581bd;
  width: 50px;
  height: 50px;
  clip-path: polygon(100% 0, 0 0, 50% 64%);
  position: absolute;
  bottom: -40px;
  left: 2rem;
  /* 左側marginと合わせる */
  /* right: 0;左右中央寄せ指定削除 */
  margin: 0;
  /* auto削除 */
  z-index: -1;
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
