*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

table {
  border: inherit;
  border-collapse: collapse;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

/* ============================================

Table CSS

============================================ */
body {
  padding: 3rem 1rem;
}

/* Table */
.table {
  max-width: 650px;
  margin: 0 auto;
}

.table th,
.table td {
  padding: 1rem;
  border-right: 1px solid #fff;
  vertical-align: middle;
}

.table th:last-child,
.table td:last-child {
  border-right: 0;
}
/* thead 横一列背景色 */
.table thead tr {
  background-color: #4a69b8;
  color: #b0c4de;
}

.table thead tr {
  text-align: center;
}

.table tobody tr {
  border-bottom: 1px solid #fff;
  background-color: #f1f3f8;
}

.table tbody tr:last-child {
  border: none;
}

.table tbody th {
  width: 25%;
}

.table tbody .price {
  width: 25%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .table {
    max-width: 420px;
    width: 100%;
  }

  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 1rem;
  }

  .table tbody th {
    background-color: #fff;
    color: #b0c4de;
    display: block;
    border-right: none;
    text-align: center;
  }

  .table tbody td {
    border-bottom: 1px solid #fff;
    display: block;
    text-align: right;
    position: relative;
    border-right: none;
  }

  .table tbody td::before {
    font-size: 0.8rem;
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 1rem;
  }

  .table td:last-child {
    border-bottom: 0;
  }

  .table tbody th,
  .table tobody .price {
    width: 100%;
  }

  .table .text {
    font-size: 0.7rem;
  }
}
